.user-Container{
    background-color: rgb(117, 114, 66);
    padding: 10px;
    margin: 1rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 10px;
}
#user-image
{
    height: 220px;
    width: 320px;
    border-radius: 50%;
}